.videos {
    display: flex;
    justify-content: center;
    
  }
  .first {
    position:absolute;
    bottom: 30px;
    right: auto;
    left: auto;
    z-index: 1;
    visibility: hidden;
  }

  #video-container {
    position: relative;
    
  } 

  html, body {
    padding: 0;
    margin: 0;
  }


.controls {
  position:absolute;
  width: 80%;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}